.coin-detail {
  padding-left: 120px;
}
.time {
  margin-top: 30px;
  font-weight: bold;
}
.coin-image img {
  margin-top: 40px;
}
.coinName {
  font-weight: bold;
  font-size: 28px;
  margin-top: 30px;
}

.coin-price {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}
.coin-profit {
  margin-top: 10px;
  margin-left: 7px;
}

.market-rank {
  font-weight: bold;
  font-size: 28px;
  margin-top: 20px;
  margin-left: 5px;
}

.coin-info {
  width: 20rem;
}

.coin-info {
  width: 20rem;
}

.btns {
  height: 2rem;
  /* padding: 8px; */
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  border: none;
  margin-left: 10px;
  width: 6rem;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 30px;
}
