.def {
  margin-top: 40rem;
}

.ex-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* white-space: unset; */
  margin-top: 5rem;
  font-size: 20px;
  font-weight: bold;
}

/* .image {
  flex: auto;
} */

.name {
  width: 8rem;
}
.price {
  width: 8rem;
}
.rank {
  width: 8rem;
}
