.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    92.23deg,
    #c340ff 21.43%,
    #753be2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  padding-bottom: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  margin-left: 15rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
}
